.viewOrder {
  width: 100%;
  height: 100%;
  display: flex;
}

.viewOrder-left,
.viewOrder-right {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.viewOrder-right-container {
  flex: .5;
}

.blank {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blank-image {
  height: 350px;
  width: 350px;
  background: url('/img/icon_sad_bread.svg') center center / contain;
}

.blank-text {
  margin-top: 20px;
  font-size: 50px;
  font-family: 'Staatliches';
}
