.ordering {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.ordering-back {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 50px;
  width: 50px;
  opacity: .8;
  background: url('/img/icon_back.svg') no-repeat center center/ cover;
}

.ordering-previewWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ordering-previewContainer {
  width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 10px solid #303030;
  padding: 50px 30px 65px 30px;
  background-color: rgba(255,255,255, .3)
}

.ordering-previewContainer-header {
  font-size: 55px;
  font-family: 'Staatliches',cursive;
}

.ordering-previewContainer-wrapper{
  width: 480px;
}

.ordering-extraText {
  margin-top: 10px;
  font-size: 18px;
  font-style: italic;
}

.ordering-sendOrder {
  height: 80px;
  width: 300px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 250px;
  background-color: #ff9933;
  border: 5px solid #802b00;
  color: #fff;
  font-size: 35px;
  font-family: 'Staatliches';
}

.orderForm {
  flex: 1;
}
