.ordering {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.ordering-back {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 50px;
  width: 50px;
  opacity: .8;
  background: url('/img/icon_back.svg') no-repeat center center/ cover;
}

.ordering-previewWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ordering-previewWrapper-savedOrders {
  width: 300px;
  height: 70px;
  display: flex;
  justify-content: center;
  margin-bottom: 75px;
}

.ordering-previewWrapper-savedOrders-button {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-family: 'Staatliches';
  background-color: #ffffb3;
  border: 5px solid #303030;
  box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.3);
}


.ordering-previewContainer {
  width: 550px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 10px solid #303030;
  padding: 50px 30px 65px 30px;
  background-color: rgba(255,255,255, .3)
}

.ordering-previewContainer-header {
  font-size: 55px;
  font-family: 'Staatliches',cursive;
}

.ordering-previewContainer-wrapper{
  width: 480px;
}

.ordering-extraText {
  margin-top: 10px;
  font-size: 18px;
  font-style: italic;
}

.ordering-options {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 75px;
  padding: 0 100px;
  box-sizing: border-box;
}

.ordering-options-container-save,
.ordering-options-container-send {
  height: 80px;
  width: 300px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-size: 35px;
  font-family: 'Staatliches';
  border: 5px solid #303030;
}

.ordering-options-container-save {
  background-color: #99ffff;
}

.ordering-options-container-send {
  background-color: #ff944d;
}

.orderForm {
  flex: 1;
}
